.Celeste{
	background-color:#00A2FF
}

.Rosa{
	background-color: #FF0AD4;
}

.Verde{
	background-color: #269414
}

.Rojo{
	background-color: red;
}


.Bang{
	height:400px;
	float:left;

}

.Gato{
	height:400px;
	float:left;
}

.gif{
	height:400px;
	float:left;
	

}