*{
		margin:0;
		padding:0;
		text-align:center;
}

.contenedor{
	margin:0 auto;
	width:1200px;
	height:900px;
}

.rojo{
	float:left;
	width:200px;
	height:900px;
	background-color:red;
	
}

.medio{
	margin-right:-5px;
	margin-left:-5px;
	float:left;
	width:800px;
}
.verde{
	height:180px;	
	background-color:green; 
}
#naranja{
	height:540px;
	background-color:orange;
}